@font-face {
    font-family: LibreBaskerville-Regular;
    src: url('../fonts/LibreBaskerville-Regular.ttf');
}

@font-face {
    font-family: Inter-ExtraBold;
    src: url('../fonts/Inter-ExtraBold.ttf');
}

@font-face {
    font-family: Inter-Bold;
    src: url('../fonts/Inter-Bold.ttf');
}

@font-face {
    font-family: Inter-Black;
    src: url('../fonts/Inter-Black.ttf');
}

@font-face {
    font-family: LibreBaskerville-Bold;
    src: url('../fonts/LibreBaskerville-Bold.ttf');
}

@font-face {
    font-family: Inter-Light;
    src: url('../fonts/Inter-Light.ttf');
}

@font-face {
    font-family: Inter-Black;
    src: url('../fonts/Inter-Black.ttf');
}